#set($ctx =$request.contextPath)
<html>
<head>
    <title>Pretty URLs are Cool!</title>
</head>
<body>
<div id="routeInfo" style="display: none">
    <span id="fromURI">$fromURI</span>
    <span id="toURI">$toURI</span>
    <span id="actionURI">$actionURI</span>
    <span id="actionMethod">$actionMethod</span>

    <div id="parameters">
        #foreach( $entry in $actionParams.entrySet())
            #foreach( $val in $entry.value)
                <span class="paramName">$entry.key</span>
                <span class="paramValue">$val</span>
            #end
        #end
    </div>
</div>
<div>
    <p>See its easy to map from an ugly old action URL to a pretty one.</p>

    <p>For example the URL <a href="$ctx/prettyurls/are/tops">/prettyurls/are/tops</a> maps to <a
            href="$ctx/plugins/servlet/PrettyActionUrlsActionHorribleName.jspa">/plugins/servlet/PrettyActionUrlsActionHorribleName.jspa</a>
        but it can
        just as easily be <a href="$ctx/prettyurls/are/unreal">/prettyurls/are/unreal</a> or <a
                href="$ctx/prettyurls/are/freaky">/prettyurls/are/freaky</a>.
    </p>

    <p>Here is a break down of the request information that has been routed :</p>

    <div>
        <table class="aui aui-table-rowhover">
            <tr>
                <th>URI</th>
            </tr>
            <tr>
                <td>From URI : $fromURI</td>
            </tr>
            <tr>
                <td>To URI : $toURI</td>
            </tr>
            <tr>
                <td>Current URI : $actionURI</td>
            </tr>
            <tr>
                <td>Method : $actionMethod</td>
            </tr>
            <tr>
                <td>Content Type: $actionContentType</td>
            </tr>
        </table>


        <table class="aui aui-table-rowhover">
            <tr>
                <th>Parameters</th>
            </tr>
            #foreach( $entry in $actionParams.entrySet())
                <tr>
                    <td>$entry.key= #foreach( $s in $entry.value)<span>$s &nbsp;</span>#end</td>
                </tr>
            #end
        </table>


        <div>
            <form class="aui" action="$ctx/prettyurls/are/cool?formParam=POST" method="POST"
                  enctype="multipart/form-data">
                <fieldset>
                    <div class="field-group">
                        <label for="postparameters">Parameters</label><input type="text" id="postparameters"
                                                                             name="parameters"
                                                                             value="are preserved"/>
                    </div>
                    <div class="field-group">
                        <label for="postduring">during the POST</label><input type="text" id="postduring" name="during"
                                                                              value="are preserved"/>
                    </div>
                    <div class="field-group">
                        <label for="postfile">File uploads also work</label><input type="file" id="postfile"
                                                                                   name="postfile"/>
                    </div>
                </fieldset>
                <div class="buttons">
                    <input class="button" type="submit" value="POST"/>
                </div>
            </form>


            <form class="aui" action="$ctx/prettyurls/are/cool?formParam=GET" method="GET">
                <fieldset>
                    <div class="field-group">
                        <label for="getparameters">GET parameters</label><input type="text" id="getparameters"
                                                                                name="parameters"
                                                                                value="also work"/>
                    </div>
                    <div class="field-group">
                        <label for="getduring">during the routing</label><input type="text" id="getduring" name="during"
                                                                                value="of form data"/>
                    </div>
                    <div class="buttons">
                        <input class="button" type="submit" value="GET"/>
                    </div>
            </form>

        </div>

    </div>
</div>
</body>
</html>